<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlest.mappers.MemberMapper">

    <!-- 전체 회원 목록 불러오기 -->
    <select id="getMemberList" resultType="Member">
        /* [MemberMapper.xml] [getMemberList] [회원목록조회] */
        SELECT email
             , mmbr_pw
             , crt_id
             , crt_dttm
             , upd_id
             , upd_dttm
        FROM member
    </select>
    
    <!-- 회원 가입 -->
    <insert id="join">
        /* [MemberMapper.xml] [join] [회원 가입] */
        INSERT INTO MEMBER
        (    email
           , mmbr_pw
           , crt_id
           , upd_id
        )
        VALUES
        (    #{email}
           , SHA2(#{mmbrPw}, 256)
           , #{email}
           , #{email}
        )
    </insert>

    <!-- 로그인 처리 -->
    <select id="login" parameterType="Member" resultType="Member">
        /* [MemberMapper.xml] [login] [로그인 처리] */
        SELECT email
             , mmbr_pw
          FROM MEMBER
         WHERE email = #{email}
           AND mmbr_pw = SHA2(#{mmbrPw}, 256)
    </select>


    
</mapper>



